.link{
    color: white;
}

.navbar{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: 80px;
}

.navbar li a{
    text-decoration: none;
    color: #D9A504;
}

.active {
    font-weight: bold;
    border-bottom: solid 1px whitesmoke;
}